.app {
  width: 100%;
  max-width: 600px;
  margin: 5px auto;
  overflow: hidden;
}

.username {
  margin: 5px 0;
}

.message-container {
  border: 2px solid black;
  padding: 10px;
}

.message {
  margin: 0 0 10px 0;
}

.message--username {
  font-weight: 800;
}

.message--message {

}